%h1 Phacade.com
%p
  Phacade is the official website of Phacade LLC. We have filed in the state of California as an offical limited liability company on 1/30/2013. We primarly build online websites to engage, entertain, and help people.
%p
  Feel free to check out this site and contact us if you would like to send us a message.
  
%h2 Projects
%p I have been involved in a lot of projects.  View the list of projects below.
            
%h4= link_to 'Dineries', 'http://dineries.com'
%p
  Dineries was started in April of 2010 and was a continuation of the dream of sporq.  Like Sporq, Dineries is a website about restaurants.  It features restaurant menus and aims to provide users and restaurant owners more visibility in finding and ordering from restaurants.  Dineries has a fresh design and has more features built in than its predecessor Sporq.
  
%h4= link_to 'VaporPens', 'http://www.vaporpens.com'
%p

  Vaporizer shop built using the shopify e-commerce software.
  
%h4= link_to 'Topoli Motors', 'http://www.topolimotors.com'
%p
  Eastbay's premier used car dealership located in Pleasant Hill.
  
%h4= link_to 'Bay Area SAT Academy', 'http://www.bayareasatacademy.com'
%p
  Business that provides private SAT tutoring. These are some smart guys tutoring the next generation. I helped them build their website, because more people need to know about BayAreaSATAcademy.
  
%h4= link_to 'GrayPoll', 'http://www.graypoll.com'
%p
  Create a poll for anything and everything. For questions to life when things aren't blank and white.
  
%h4= link_to 'Countdowning', 'http://www.countdowning.com'
%p
  A little project that was inspired by HIMYM's countdown clock
  
%h4= link_to 'ShareTodoList', 'http://www.sharetodolist.com/'
%p
  Create a todolist and share online. Collaborate with others and improve productivity.
  
%h4= link_to 'Blank Site', 'https://bitbucket.org/andrewyoo/blank-site/wiki/Home'
%p
  Quick start project to quickly bootstrap a simple static site with backend and inline editing html for non devs to manage. I've been asked to build a lot of simple content websites mainly for small businesses and this project lets me get started quicker.  Also bundled with lots the goodies for quick ui development. Bootstrap 3, Mercury WYSIWYG editor, ActiveAdmin Backend. Check Out the
  = link_to 'Demo', 'http://blank-site.phacade.com/'
  
%h4= link_to 'DownloadMeow', 'http://www.downloadmeow.com'
%p
  A shopify app to handle digital deliver orders.  If you are selling digital content on shopify, use DownloadMeow to allow you customers to download their orders.

%h2 Contact
%p
  Contact me at andrew@phacade.com
  %br/
  = link_to 'GitHub', 'http://www.github.com/andrewyoo'
  %br/
  = link_to 'LinkedIn', 'http://www.linkedin.com/profile/view?id=6236169&authType=name&authToken=6n4-&locale=en_US&pvs=pp&trk=ppro_viewmore'

%h3 Older Versions of Phacade.com
%p
  = link_to 'Classic Side Navigation', '/v1'
  %br/
  = link_to 'Parallax Design with reveal.js', '/v2'
