:javascript
  $(document).ready(function() {
    $('#tabs').tabs();
  });

.container_12
  #sidebar_wrapper.grid_3
    #sidebar
      = render :partial => 'layouts/sidebar'
  #content_wrapper.grid_9
    .overlay
    #content
      #tabs
        %ul
          %li= link_to 'Dineries Blog', '#tabs-1'
          %li= link_to 'Dos-Techies', '#tabs-2'
          %li= link_to 'Extra Ram', '#tabs-3'

        #tabs-1 
          %h2 Dineries Blog
          %p= link_to 'Check it out', 'http://blog.dineries.com'

        #tabs-2 
          %h2 Dos-Techies Blog
          %p= link_to 'Check it out', 'http://dos-techies.com'

        #tabs-3
          %h2 Extra Ram Blog
          %p= link_to 'Check it out', 'http://extraram.posterous.com'
