!!!
%html
  %head
    %title= @title || 'Phacade.com'
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "v4/application"
    = csrf_meta_tags
  %body
    = yield

    = render 'layouts/ganalytics'
